*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
/*li{
	list-style: none;
}*/
body{
	font-family: 'Open Sans', sans-serif;
}
header{
	width: 100%;
	background: #000;
	display: flex;
}
.header_logo{
	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
	font-size: 24px;
	cursor: pointer;
	margin-top: 56px;
	margin-left: 8%; 
}
nav{
	margin-top: 56px;
	margin-left: 29%;
}
.topnav ul{
	display: flex;
	justify-content: center;
	color: #fff;
	text-align: center;
	padding: 12px 16px;
	font-size: 14px;
	font-weight: bold;
}
.topnav a:hover{
	border-bottom: 3px solid #fcac45;
}

.topnav .icon{
	display: none;
}
main{
	display: flex;
	flex-direction: column ;
	width: 100%;
}
main .main_welcome{
	background: #000;
	text-align: center;
	padding: 200px 0 410px 0;
}

main .main_welcome p{
	color: #999999;
	font-size: 20px;
}
main .main_welcome h1{
	color: #999999;
	font-size: 44px;
}
main .main_welcome h1:after{
	display: none;
}
.my_page{
	color: #fcac45;
}
.wrapper{
	width: 76%;
	margin: 0 auto;
}

.main_about{
	display: flex;
	padding: 100px 0 100px 0;
}
.about_right{
	margin-left: 175px ;
}
.about_right h1{
	display: inline-block;
	border-bottom: 3px solid #fcac45;
	padding-bottom: 20px;
}
.about_right h1:after{
	display: none;
}
.about_right p{
	margin: 30px 0 50px 0;
	color: #6c6c6c;
}
.about_right li{
	background: url(img/mark.png) 0px no-repeat;
	padding-left: 25px;
	margin-top: 10px;
}
.mw-100{
	min-width: 100%;
}
.my_hobby{
	background: #000;
	text-align: center;
	padding: 80px 0 140px 0;
	color: #fff;
}
.my_hobby h1{
	font-size: 44px;
	padding-bottom: 15px;
}
/*.line {
	width: 100px;
	height: 3px;
	background: #fcac45;
	position: relative;
	left: 46%;
	margin-bottom: 50px;*/
}
.photo{
	background: #d7d7d7;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin: 20px auto;
}
.hobby{
	display: flex;
}
.card{
	margin: 0 40px;
}
.name{
	font-size: 20px;
	margin-bottom: 7px;
}
.why{
	font-size: 16px;
	margin-bottom: 35px;
}
.card_friends{
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 20px;
}
.friends h1{
	text-align: center;
	padding: 50px 0 15px 0;
}
.friends p{
	color: #6c6c6c;
	margin-bottom: 100px;
	margin-top: 20px;
}
.card_freind h4{
	margin-top: 10px;
}

.main_skills{
	background: #000;
	padding: 50px 0 100px 0;
	color: #fff;
	text-align: center;
}
.main_skills h1{
	margin-bottom: 15px;
}
.main_skills img{
	margin-left: 30px;

}
.contact_wrapper h1{

}
.contact_wrapper{
	width: 753px;
	margin: 0 auto;
	color: #636363;
}
.red{
	color: red;
}
.contact_form{
	padding: 30px 0 50px 0;
}
.contact_form h1,p{
	text-align: center;
}
.contact_form h1{
	color: #000;
	margin-bottom: 15px;
}

.form_inputs{
	display: flex;
	margin-top: 50px;
}
textarea{
	width: 100%;
	height: 163px;
}
input {
	width: 360px;
	height: 40px;
	font-size: 20px;
	margin-bottom: 30px;
}
input:first-of-type{
	margin-right: 23px;
}
input, textarea{
	border: 1px solid #999999;
	margin-top: 5px;
}

.button {
	display: flex;
	justify-content: flex-end;
}
input[type=submit]{
	width: 165px;
	height: 40px;
	background: #fcac45;
	color: #fff;
	margin-right: 0;
	margin-top: 20px;
}

form p{
	text-align: left;
}

h1:after{
	content: "";
	display: block;
	margin: 0 auto;
	width: 100px;
	padding-top: 15px;
	border-bottom: 3px solid #fcac45;
}

footer{
	width: 100%;
	background: #fcac45;
	height: auto;
	padding: 15px 0 15px 0;

}
.social{
	display: flex;
	justify-content: center;
}
.social img{
	margin-left: 25px;
}

.social img:hover{
	opacity: 0.6;
}

@media screen and (max-width: 1010px) {
	main .main_welcome{
		padding: 50px 0 50px 0;
	}
	main .main_welcome p{
		font-size: 14px;
	}
	main .main_welcome h1{
		font-size: 25px;
	}
	.mw-100{
	max-width: 100%;
	}
	.main_about{
		flex-direction: column;
	}
	.about_right{
		text-align: center;
		margin: 0;
	}
	.about_right li{
		text-align: center;
	}
}




